---
const {href, src, alt, title, keyword} = Astro.props;
---

<a href={href} target="_blank" class="relative w-[max-content] grid justify-center gap-3">
    <img class="headerPic absolute rounded mx-auto" 
    src={src} 
    alt={alt}>
    <div 
    id="textContainer" 
    class="absolute grid">
        <h2 class="text-2xl text-center">
            {title}
            <span class="text-[var(--dark-accent)]">
                {keyword}
            </span>
        </h2>
    </div>
</a>

<style>
    .headerPic{
        min-width: 90%;
        max-width: 22rem;
        filter: grayscale(100%);
        transition: filter 300ms;
    }

    a:hover .headerPic{
        filter: grayscale(0);
    }
</style>
